@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url(); /* put your galaxy image in /public */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Inter', sans-serif;
}

